<body>
  <div [ngClass]="{'navbar-ghost' : !hidden}"></div>
  <section id="navbar-container" class="navbar" [ngClass]="{'collapsed' : hidden}" (mousemove)="onMouseMove()">
    <p-accordion  expandIcon="pi pi-sort-down-fill" collapseIcon="pi pi-sort-up-fill">
      <div *ngFor="let menu of menus" [ngClass]="{'collapsed' : hidden}">
        <div *ngIf="menu.itens?.length! > 0; then accordion; else not_accordion"></div>

        <ng-template #accordion>
          <p-accordionTab iconPos="end">
            <ng-template pTemplate="header">
              <img [src]="'../../../assets/icons/' + menu.icon + '.svg'" [alt]="menu.icon"/>
              <span>{{ menu.value }}</span>
            </ng-template>
            <ng-template pTemplate="content">
              <div *ngFor="let item of menu.itens">
                <div *ngIf="item.itens?.length! > 0">
                  <div *ngFor="let item of item.itens">
                    <a class="item" [routerLink]="[item.link]" routerLinkActive="router-link-active" (click)="opcaoNaoImplementada()">
                      {{ item.value }}
                    </a>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-accordionTab>
        </ng-template>

        <ng-template #not_accordion>
          <a [routerLink]="[menu.link]" routerLinkActive="router-link-active" (click)="opcaoNaoImplementada()">
            <img [src]="'../../../assets/icons/' + menu.icon + '.svg'" [alt]="menu.icon"/>
            <span>{{ menu.value }}</span>
          </a>
        </ng-template>
      </div>
    </p-accordion>
  </section>
  <section class="content">
    <header class="header">
      <span class="titulo-header">
        {{tituloPagina}}
      </span>

      <div class="acoes-header">
        <span class="p-input-icon-right" (click)="opcaoNaoImplementada()">
          <i class="pi pi-search"></i>
          <input type="text" class="input-header" placeholder="Posto"/>
        </span>

        <app-icon-button-custom titulo="Alerta" icone="alerta" [badge]="badgeAlerta" (onclick)="opcaoNaoImplementada()"></app-icon-button-custom>
        <app-icon-button-custom titulo="Notificação" icone="notificacao" [badge]="badgeNotificacao" (onclick)="opcaoNaoImplementada()"></app-icon-button-custom>

        <div class="menu-header">
          <span class="menu-usuario-nome">
            {{ nomeUsuario }}
          </span>
          <p-menu #menu [model]="menuUsuario" [popup]="true"></p-menu>
          <p-button class="menu-usuario-button" outlined="true" rounded="true" (onClick)="menu.toggle($event)">
            <img src="../../../assets/icons/icone-usuario.svg" alt="Icone de Usuário">
          </p-button>
        </div>
      </div>
    </header>

    <main class="main">
      <router-outlet />
    </main>
  </section>
</body>
